<p-button label="+" (click)="show()"/>

<div id="chart-container"></div>



<p-dialog header="Add Node" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem', height: 'auto' }">
    <div>
    <label style="display: inline-flex; margin-bottom: 10px;">Parent Node *</label>
    <p-dropdown 
        [options]="options" 
        [(ngModel)]="parent" 
        optionLabel="name"
        optionValue="code" 
        placeholder="Select parent Node" 
        scrollHeight="170px"
        />
    </div>
    <label style="display: inline-flex; margin-bottom: 10px; margin-top: 10px;">Child Node *</label><br>
    <input pInputText type="text" [(ngModel)]="text" name="text"/>
    <p-button label="sumbit" class="sumbitButton" (click)="onSumbit()"/>

</p-dialog>
